@import url('./root.css');


.card{
    width: 40%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    background-color: white;
    margin-top: 20px;

    p {
        margin-top: 10px;
        margin-bottom: -10px;
        font-size: 0.75em;
    }
}

.card:focus-within{
    border-color: var(--primary);
}

.details {
    h1 {
        font-size: 1.25em;
        margin: 0;
        margin-bottom: 15px;
        font-weight: normal;
    }

    input[type="text"] {
        width: 90%;
        border: 0;
        font-size: 1em;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }

    input[type="text"]:focus {
        outline: none;
        border-bottom: 2px solid var(--primary);
    }

    textarea{
        width: 90%;
        border: 0;
        font-size: 1em;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
        resize: none;
        font-size: 1em;
        overflow: auto;
    }

    textarea:focus {
        outline: none;
        border-bottom: 2px solid var(--primary);
        height: 10vh;
    }
}

.sectiontitle {
    margin: auto;
    min-width: max-content;
    max-width: 90vw;
    font-size: 3em;
    margin-top: 40px;
    text-align: center;

    hr{
        width: 40vw;
    }
}

.products{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    h1{
        font-size: 2em;
        margin: 0;
    }

    h2 {
        font-size: 1.1em;
        margin: 0;
        font-style: italic;
        font-weight: normal;
    }

    img{
        width: 30%;
        margin: auto;
        border: 1px solid #ccc;
        border-radius: 10px; 
    }

    div.product-info {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .toggle {
        
        button {
            font-size: 1em;
            background-color: #FFF4E6;
            height: 100%;
            width: 50%;
            border: 0;
            padding: 8px 16px
        }

        .active {
            background-color: var(--primary);
            color: white;
        }

        .left {
            border-radius: 10px 0 0 10px;
        }

        .right {
            border-radius: 0 10px 10px 0;
        }
    }


}

.bill {
    font-size: 1.25em;
    display: none;

    h2 {
        margin-top: 0;
    }

    ul {
        margin-top: 0;
        padding-left: 30px;
    }
}

.orderwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}


.ordernow{
    background-color: var(--primary);
    color: white;
    padding: 20px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    font-size: 1.5em;
    margin: 20px auto;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .topBar h1 {
        display: none;
    }

    .card {
        width: calc(90% - 50px);
    }

    .sectiontitle {
        font-size: 2em;
    }
}

@media screen and (min-width: 600px) {
    .topBar {
        padding-left: 40px;
        padding-right: 40px;
    }
}